body {
    background-color: #000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #1DB954; /* Spotify Green */
    font-size: 36px;
}

.search-form {
    margin-top: 30px;
}

label {
    color: #fff;
    font-size: 18px;
}

input[type="text"] {
    width: 250px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #1DB954; /* Spotify Green */
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #26c965; /* Slightly lighter green on hover */
}
